.footer {
  position: relative;
}
.footer__banner {
  position: absolute;
  width: 100%;
  z-index: -1;
  background: #111;
}
.footer__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 35px;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.footer__link {
  font-weight: 400;
  font-size: 16px;
  color: #DCDCDC;
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}
.footer__info-link {
  font-weight: 700;
  font-size: 24px;
  color: #BD2D43;
}
.footer__info-txt {
  font-weight: 400;
  font-size: 12px;
  color: #8F8F8F;
  margin: 5px 0 15px;
}
.footer__info-logo {
  margin-right: 15px;
}