@charset "UTF-8";
.open {
  margin: 185px 0 125px;
}
.open__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.open__text {
  position: relative;
}
.open__text::before {
  content: "";
  position: absolute;
  width: 41px;
  top: 65px;
  left: 234px;
  border: 0.78px solid rgb(68, 68, 68);
  -webkit-transform: rotate(-75deg);
          transform: rotate(-75deg);
  z-index: 1;
}
.open__text::after {
  content: "";
  position: absolute;
  width: 41px;
  top: 48px;
  left: 264px;
  border: 0.78px solid rgb(68, 68, 68);
  -webkit-transform: rotate(-165deg);
          transform: rotate(-165deg);
}
.open__title {
  position: relative;
  width: min(295px, 100%);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 52px;
  color: #fff;
  margin-bottom: 75px;
  line-height: 50px;
}
.open__title-span {
  font-size: 40.7px;
}
.open__title::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  top: 38px;
  left: 258px;
  background: rgb(196, 196, 196);
  border-radius: 100%;
}
.open__title::after {
  content: "МЫ ОТКРЫЛИСЬ";
  position: absolute;
  width: min(146px, 100%);
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  top: 63px;
  left: 213px;
  padding: 0 8px;
  background: -webkit-gradient(linear, left bottom, left top, from(#C93A48), to(#C93A48));
  background: linear-gradient(0deg, #C93A48, #C93A48);
  -webkit-box-shadow: 0px 0px 30px 0px rgb(189, 45, 67);
          box-shadow: 0px 0px 30px 0px rgb(189, 45, 67);
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  border-radius: 8px;
  z-index: 1;
}
.open__txt {
  position: relative;
  width: min(580px, 100%);
  font-weight: 400;
  font-size: 18px;
  color: #8F8F8F;
  margin-bottom: 30px;
}
.open__txt::before {
  content: "";
  position: absolute;
  width: 73px;
  height: 5px;
  top: -200px;
  background: #C93A48;
  -webkit-box-shadow: 0px 0px 30px 0px #BD2D43;
          box-shadow: 0px 0px 30px 0px #BD2D43;
}
.open__link {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  text-decoration: underline;
}