* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Suisse Intl';
}

body {
    background: #222220;
}

.container {
    width: min(1220px, 100%);
    margin: 0 auto;
    padding: 0 15px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}