@font-face {
    font-family: 'Suisse Intl';
    src: url(../font/fonnts.com-Suisse_Intl_Bold.ttf);
    font-family: 700;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url(../font/fonnts.com-Suisse_Intl_Medium.ttf);
    font-family: 500;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url(../font/fonnts.com-Suisse_Intl_Regular.ttf);
    font-family: 400;
}