.contact {
    margin-bottom: 40px;

    &__title {
        font-weight: 700;
        font-size: 48px;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 10px;
    }

    &__all {
        display: flex;
        align-items: center;
    }

    &__big {
        
        &-title {
            font-weight: 700;
            font-size: 24px;
            color: #fff;
            margin: 40px 0 30px;
        }

        &-info {
            display: flex;
            align-items: center;
            gap: 30px;
        }

        &-in {
            font-weight: 400;
            font-size: 24px;
            color: #fff;
        }
    }

    &__button {
        font-weight: 500;
        font-size: 18px;
        color: #fff;
        text-transform: uppercase;
        padding: 15px 55px;
        background: #CB3B48;
        border: 1.48px solid #CB3B48;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
        margin-bottom: 32px;
    }

    &__images {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__line {
        width: 444px;
        height: 1px;
        background: #525252;
        transform: rotate(270deg);
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        &-map {
            width: 500px;
            height: 350px;
            border-radius: 15px;
        }

        &-text {
            display: flex;
            align-items: center;
            gap: 26px;
            margin-top: 50px;
        }

        &-title {
            font-weight: 700;
            font-size: 24px;
            color: #fff;
        }

        &-txt {
            font-weight: 400;
            font-size: 24px;
            color: #fff;
        }
    }
}