.header {
    position: relative;

    &__banner {
        position: absolute;
        width: 100%;
        z-index: -1;
    }

    &__big {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-buttons {
            display: flex;
            align-items: center;
            gap: 48px;
        }

        &-button {
            padding: 23px 33px;
            font-weight: 500;
            font-size: 20px;
            text-transform: uppercase;
            color: #fff;
            background: #CB3B48;
            border: 1.48px solid #CB3B48;
            box-shadow: 0px 7px 25px 0px #0000004D;
            border-radius: 8px;
            cursor: pointer;
            transition: .4s;
        }

        &-button:hover {
            color: #CB3B48;
            background: #fff;
            border: 1.48px solid #FFFFFF;
            box-shadow: 0px 7px 25px 0px #0000004D;
        }
    }
}