.new {
    position: relative;

    &__banner {
        position: absolute;
        width: 100%;
        height: 512px;
        z-index: -1;
    }

    &__big {
        padding: 30px 0 60px;
    }

    &__title {
        font-weight: 700;
        font-size: 30px;
        color: #fff;
        margin-bottom: 35px;
    }

    &__wrap {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__slide {
        width: 280px;
    }

    &__img {
        width: 281px;
        border-radius: 30px;
    }
}